body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background: url(ngo.jpg)  no-repeat;
    background-size: cover;

}

h1{
    margin-top:20px;
    margin-left: 350px;
    margin-right: 300px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #b6096e;
    padding: 6px;
    font-size: 40px;
}



.wrapper .box {
    background-color: rgb(0, 0, 0);
    color: #fff;
    opacity: 0.7;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 160px;
    margin-right: 160px;
    padding: 40px;
}
.box thead tr td{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    
   

}
.box tbody{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white; 
}