
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html, body{
  height: 100%;
}
.page-wrapper{
  min-height: 100%;
}

.Navbar{
  overflow: hidden;
  background-color:#a445b2 ;
  border: 1px; 
  border-radius: 5px ;
  margin: auto;
   
}
 .Navbar a{
  float:left;
  font-size: 20px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  margin: 4px;
 }
 .Navbar a:hover{
    background-color: rgba(255, 109, 248, 0.945);
    opacity : 2;
  }
  
  #cf {
    position:absolute;
    height:281px;
    width:450px;
    margin: 4px auto;
    
  }
  #cf img {
    position:absolute;
    left:0;
    border-radius: 5px ;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #cf img.top:hover {
    opacity:0;
  }
  
  .footer{
    background: rgb(179, 128, 179);
    color: rgb(179, 128, 179);
    height: 350px;
    position: relative;
    border-radius: 5px ;
}


.footer-section{
    border: 1px solid rgb(75, 0, 69);
    height: 300px;
    display: flex;
    flex: 1;
    padding: 20px;
    border: none;
}

.contact h1{
    color: black;
}
.social h2{
    color:black
}
.details span{
    display: block;
    color: black;
    font-size: 22px;
    margin-bottom: 8px;
}
.socials a{
    border: 1px solid white;
    width: 60px;
    height: 30px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    border-radius: 5px;
}
.socials i{
    color: black;
    transition: 0.4s;
    
}
.socials :hover {
    color: rgba(235, 102, 235, 0.851);
}





.footer .footer-bottom{
    background: rgb(216, 178, 216);
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;



}